.Rproj.user
.Rhistory
.RData
.Ruserdata
*.png
*.tiff
test_*/
gcplyr_*.tar.gz
gcplyr.Rcheck/
gcplyr/vignettes/*.R
gcplyr/vignettes/*.html
gcplyr/inst/doc
gcplyr/notes/example_for_mike.csv
gcplyr/notes/gam_fit.R
